<?xml version="1.0" encoding="UTF-8"?>	

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.matrices.qa.ExtentReport.ExtentReportNG"></listener>
</listeners>

 <test name="HomePageTest">
    <classes>
      <class name="com.matrices.qa.pagetest.HomePageTest"/>      
    </classes>
  </test> <!-- Test -->
  
   <test name="LandingPageTest">
    <classes>      
      <class name="com.matrices.qa.pagetest.LandingPageTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
